In [68]:
import pandas as pd

In [69]:
df1 = pd.read_csv("../submission/GRU_1.csv")
df2 = pd.read_csv("../submission/GRU_12.csv")

In [70]:
df1

             일시      평균기온
0    2023-01-01 -3.051067
1    2023-01-02 -2.957121
2    2023-01-03 -3.298365
3    2023-01-04 -2.217601
4    2023-01-05 -1.894448
..          ...       ...
353  2023-12-20 -1.353167
354  2023-12-21 -0.852178
355  2023-12-22 -0.779060
356  2023-12-23 -1.121274
357  2023-12-24 -1.588264

[358 rows x 2 columns]

In [71]:
df2

             일시      평균기온
0    2023-01-01 -2.505351
1    2023-01-02 -2.404945
2    2023-01-03 -2.395703
3    2023-01-04 -2.444104
4    2023-01-05 -2.410545
..          ...       ...
353  2023-12-20 -0.862572
354  2023-12-21 -1.452875
355  2023-12-22 -1.815637
356  2023-12-23 -1.869925
357  2023-12-24 -1.231518

[358 rows x 2 columns]

In [72]:
df2['평균기온2'] = df1['평균기온']

In [73]:
df2

             일시      평균기온     평균기온2
0    2023-01-01 -2.505351 -3.051067
1    2023-01-02 -2.404945 -2.957121
2    2023-01-03 -2.395703 -3.298365
3    2023-01-04 -2.444104 -2.217601
4    2023-01-05 -2.410545 -1.894448
..          ...       ...       ...
353  2023-12-20 -0.862572 -1.353167
354  2023-12-21 -1.452875 -0.852178
355  2023-12-22 -1.815637 -0.779060
356  2023-12-23 -1.869925 -1.121274
357  2023-12-24 -1.231518 -1.588264

[358 rows x 3 columns]

In [74]:
df2['평균기온3'] = (df2['평균기온']+df2['평균기온2'])/2

In [75]:
df2

             일시      평균기온     평균기온2     평균기온3
0    2023-01-01 -2.505351 -3.051067 -2.778209
1    2023-01-02 -2.404945 -2.957121 -2.681033
2    2023-01-03 -2.395703 -3.298365 -2.847034
3    2023-01-04 -2.444104 -2.217601 -2.330852
4    2023-01-05 -2.410545 -1.894448 -2.152497
..          ...       ...       ...       ...
353  2023-12-20 -0.862572 -1.353167 -1.107869
354  2023-12-21 -1.452875 -0.852178 -1.152526
355  2023-12-22 -1.815637 -0.779060 -1.297348
356  2023-12-23 -1.869925 -1.121274 -1.495600
357  2023-12-24 -1.231518 -1.588264 -1.409891

[358 rows x 4 columns]

In [76]:
df3 = df2[['일시','평균기온3']]

In [77]:
pred = df2['평균기온3'].values

In [79]:
sub = pd.read_csv('../data/sample_submission.csv')
sub['평균기온'] = pred

sub.to_csv('../submission/GRU_8_1_1.csv', index=False)